<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- global framework interfaces :: data mapping-->
    <preference for="SoftCommerce\Core\Framework\DataMap\StatusToFaMappingInterface" type="SoftCommerce\Core\Framework\DataMap\StatusToFaMapping"/>
    <preference for="SoftCommerce\Core\Framework\DataMap\StatusToLabelMappingInterface" type="SoftCommerce\Core\Framework\DataMap\StatusToLabelMapping"/>
    <!-- global framework interfaces :: data storage-->
    <preference for="SoftCommerce\Core\Framework\DataStorageInterface" type="SoftCommerce\Core\Framework\DataStorage"/>
    <preference for="SoftCommerce\Core\Framework\EntityDataStorageInterface" type="SoftCommerce\Core\Framework\EntityDataStorage"/>
    <preference for="SoftCommerce\Core\Framework\DataStorage\OutputArrayInterface" type="SoftCommerce\Core\Framework\DataStorage\OutputArray"/>
    <preference for="SoftCommerce\Core\Framework\DataStorage\OutputArrayPrintReadableInterface" type="SoftCommerce\Core\Framework\DataStorage\OutputArrayPrintReadable"/>
    <preference for="SoftCommerce\Core\Framework\DataStorage\OutputHtmlInterface" type="SoftCommerce\Core\Framework\DataStorage\OutputHtml"/>
    <preference for="SoftCommerce\Core\Framework\DataStorage\OutputMessageManagerInterface" type="SoftCommerce\Core\Framework\DataStorage\OutputMessageManager"/>
    <preference for="SoftCommerce\Core\Framework\DataStorage\StatusPredictionInterface" type="SoftCommerce\Core\Framework\DataStorage\StatusPrediction"/>
    <preference for="SoftCommerce\Core\Framework\IsAssociativeArrayInterface" type="SoftCommerce\Core\Framework\IsAssociativeArray"/>
    <preference for="SoftCommerce\Core\Framework\IsMultidimensionalArrayInterface" type="SoftCommerce\Core\Framework\IsMultidimensionalArray"/>
    <preference for="SoftCommerce\Core\Framework\SearchMultidimensionalArrayInterface" type="SoftCommerce\Core\Framework\SearchMultidimensionalArray"/>
    <preference for="SoftCommerce\Core\Framework\Array\FlattenArrayInterface" type="SoftCommerce\Core\Framework\Array\FlattenArray"/>
    <preference for="SoftCommerce\Core\Framework\Filter\ParseStringInterface" type="SoftCommerce\Core\Framework\Filter\ParseString"/>
    <!-- global framework interfaces :: DB -->
    <preference for="SoftCommerce\Core\Framework\DB\QueryResultDataTypeConverterInterface" type="SoftCommerce\Core\Framework\DB\QueryResultDataTypeConverter"/>
    <!-- global framework interfaces :: message storage -->
    <preference for="SoftCommerce\Core\Framework\MessageCollectorInterface" type="SoftCommerce\Core\Framework\MessageCollector"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorageInterface" type="SoftCommerce\Core\Framework\MessageStorage"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\OutputArrayInterface" type="SoftCommerce\Core\Framework\MessageStorage\OutputArray"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\OutputConsoleInterface" type="SoftCommerce\Core\Framework\MessageStorage\OutputConsole"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\OutputConsoleProgressInterface" type="SoftCommerce\Core\Framework\MessageStorage\OutputConsoleProgress"/>
    <!-- Shared instance for OutputConsoleProgress -->
    <virtualType name="SoftCommerce\Core\Framework\MessageStorage\OutputConsoleProgressShared" type="SoftCommerce\Core\Framework\MessageStorage\OutputConsoleProgress" shared="true"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\OutputHtmlInterface" type="SoftCommerce\Core\Framework\MessageStorage\OutputHtml"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\OutputMessageManagerInterface" type="SoftCommerce\Core\Framework\MessageStorage\OutputMessageManager"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\StatusPredictionInterface" type="SoftCommerce\Core\Framework\MessageStorage\StatusPrediction"/>
    <preference for="SoftCommerce\Core\Framework\MessageStorage\SummaryRendererInterface" type="SoftCommerce\Core\Framework\MessageStorage\SummaryRenderer"/>
    <!-- global config ::: interface | repository | management -->
    <preference for="SoftCommerce\Core\Model\Config\DateTimeLocaleInterface" type="SoftCommerce\Core\Model\Config\DateTimeLocale"/>
    <preference for="SoftCommerce\Core\Model\Config\DeveloperInterface" type="SoftCommerce\Core\Model\Config\Developer"/>
    <!-- Catalog modules ::: interface | repository -->
    <preference for="SoftCommerce\Core\Model\Catalog\FileImageManagementInterface" type="SoftCommerce\Core\Model\Catalog\FileImageManagement"/>
    <preference for="SoftCommerce\Core\Model\Catalog\GetCatalogCategoryDataInterface" type="SoftCommerce\Core\Model\Catalog\GetCatalogCategoryData"/>
    <preference for="SoftCommerce\Core\Model\Catalog\GetConfigurableAttributeOptionsInterface" type="SoftCommerce\Core\Model\Catalog\GetConfigurableAttributeOptions"/>
    <preference for="SoftCommerce\Core\Model\Catalog\GetProductAttributeDataInterface" type="SoftCommerce\Core\Model\Catalog\GetProductAttributeData"/>
    <preference for="SoftCommerce\Core\Model\Catalog\IsCatalogProductSuperLinkInterface" type="SoftCommerce\Core\Model\Catalog\IsCatalogProductSuperLink"/>
    <preference for="SoftCommerce\Core\Model\Catalog\MediaManagementInterface" type="SoftCommerce\Core\Model\Catalog\MediaManagement"/>
    <preference for="SoftCommerce\Core\Model\Catalog\SkuStorageInterface" type="SoftCommerce\Core\Model\Catalog\SkuStorage"/>
    <!-- Customer modules :: interface | repository -->
    <preference for="SoftCommerce\Core\Model\Customer\GetCustomerRawDataInterface" type="SoftCommerce\Core\Model\Customer\GetCustomerRawData"/>
    <!-- Eav modules ::: interface | repository -->
    <preference for="SoftCommerce\Core\Model\Eav\AttributeManagementInterface" type="SoftCommerce\Core\Model\Eav\AttributeManagement"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetAttributeBackendTableInterface" type="SoftCommerce\Core\Model\Eav\GetAttributeBackendTable"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetAttributeEntityTypeDataInterface" type="SoftCommerce\Core\Model\Eav\GetAttributeEntityTypeData"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetAttributeEntityTypeIdInterface" type="SoftCommerce\Core\Model\Eav\GetAttributeEntityTypeId"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetAttributeSetByAttributeInterface" type="SoftCommerce\Core\Model\Eav\GetAttributeSetByAttribute"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetAttributeSetDataInterface" type="SoftCommerce\Core\Model\Eav\GetAttributeSetData"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetDefaultAttributeSetIdInterface" type="SoftCommerce\Core\Model\Eav\GetDefaultAttributeSetId"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetEavAttributeOptionValueDataInterface" type="SoftCommerce\Core\Model\Eav\GetEavAttributeOptionValueData"/>
    <preference for="SoftCommerce\Core\Model\Eav\GetEntityTypeIdInterface" type="SoftCommerce\Core\Model\Eav\GetEntityTypeId"/>
    <!-- vendor module list ::: interface -->
    <preference for="SoftCommerce\Core\Model\ModuleListProviderInterface" type="SoftCommerce\Core\Model\ModuleListProvider"/>
    <!-- model source options ::: interface -->
    <preference for="SoftCommerce\Core\Model\Source\StatusInterface" type="SoftCommerce\Core\Model\Source\Status"/>
    <!-- model utilities -->
    <preference for="SoftCommerce\Core\Model\Utils\GetEntityMetadataInterface" type="SoftCommerce\Core\Model\Utils\GetEntityMetadata"/>
    <!-- Store modules ::: interface | repository -->
    <preference for="SoftCommerce\Core\Model\Store\WebsiteStorageInterface" type="SoftCommerce\Core\Model\Store\WebsiteStorage"/>
    <!-- Logger -->
    <preference for="SoftCommerce\Core\Logger\LogProcessorInterface" type="SoftCommerce\Core\Logger\LogProcessor"/>
    <type name="SoftCommerce\Core\Logger\Handler\RotationSteamHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="SoftCommerce\Core\VirtualStreamHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/softcommerce/debug.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="SoftCommerce\Core\VirtualRotationStreamHandler" type="SoftCommerce\Core\Logger\Handler\RotationSteamHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/softcommerce/debug.log</argument>
        </arguments>
    </virtualType>
    <type name="SoftCommerce\Core\Logger\LogProcessor">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SoftCommerce\Core\VirtualStreamHandler</item>
                <item name="rotation_debug" xsi:type="object">SoftCommerce\Core\VirtualRotationStreamHandler</item>
                <item name="mail" xsi:type="object">SoftCommerce\Core\Logger\Handler\MailStreamHandler</item>
            </argument>
        </arguments>
    </type>
    <!-- CLI -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pub:static:clean" xsi:type="object">SoftCommerce\Core\Console\Command\CleanStaticViewFiles</item>
            </argument>
        </arguments>
    </type>
</config>
